# [Un premier tuto](https://towardsdatascience.com/working-with-multi-index-pandas-dataframes-f64d2e2c3e02)

In [2]:
import pandas as pd
scores = {
    'Zone': ['North','South','South', 'East','East','West','West','West','West'], 
    'School': ['Rushmore','Bayside','Rydell', 'Shermer','Shermer','Ridgemont', 'Hogwarts','Hogwarts','North Shore'],             
    'Name': ['Jonny','Joe','Jakob', 'Jimmy','Erik','Lam','Yip','Chen','Jim'], 
    'Math': [78,76,56,67,89,100,55,76,79],
    'Science': [70,68,90,45,66,89,32,98,70]}
df = pd.DataFrame(scores, columns=['Zone', 'School', 'Name', 'Science', 'Math'])
df

    Zone       School   Name  Science  Math
0  North     Rushmore  Jonny       70    78
1  South      Bayside    Joe       68    76
2  South       Rydell  Jakob       90    56
3   East      Shermer  Jimmy       45    67
4   East      Shermer   Erik       66    89
5   West    Ridgemont    Lam       89   100
6   West     Hogwarts    Yip       32    55
7   West     Hogwarts   Chen       98    76
8   West  North Shore    Jim       70    79

L'agr√©gation produit des multi-index. Ici lignes et colonnes :

In [3]:
df_result_zone_school = df.groupby(['Zone','School']).agg({
    'Science':['mean','min','max'],
     'Math':['mean','min','max']
})
df_result_zone_school

                  Science           Math
                     mean min max   mean  min  max
Zone  School
East  Shermer        55.5  45  66   78.0   67   89
North Rushmore       70.0  70  70   78.0   78   78
South Bayside        68.0  68  68   76.0   76   76
      Rydell         90.0  90  90   56.0   56   56
West  Hogwarts       65.0  32  98   65.5   55   76
      North Shore    70.0  70  70   79.0   79   79
      Ridgemont      89.0  89  89  100.0  100  100

Introspection

In [6]:
# nb > ce qui s'affiche n'a rien √† voir avec la version du tuto, mais c'est bien un multi index
display(df_result_zone_school.columns)
print(df_result_zone_school.columns)

# acc√®s aux index par niveau
print(df_result_zone_school.columns.get_level_values(0))
print(df_result_zone_school.columns.get_level_values(1))

MultiIndex([('Science', 'mean'),
            ('Science',  'min'),
            ('Science',  'max'),
            (   'Math', 'mean'),
            (   'Math',  'min'),
            (   'Math',  'max')],
           )

MultiIndex([('Science', 'mean'),
            ('Science',  'min'),
            ('Science',  'max'),
            (   'Math', 'mean'),
            (   'Math',  'min'),
            (   'Math',  'max')],
           )
Index(['Science', 'Science', 'Science', 'Math', 'Math', 'Math'], dtype='object')
Index(['mean', 'min', 'max', 'mean', 'min', 'max'], dtype='object')

Extraction de colonnes (tr√®s avantageuse^^)

In [9]:
display(df_result_zone_school['Science'])       # header 'Science' not included
display(df_result_zone_school[['Science']])     # header 'Science' included

                   mean  min  max
Zone  School
East  Shermer      55.5   45   66
North Rushmore     70.0   70   70
South Bayside      68.0   68   68
      Rydell       90.0   90   90
West  Hogwarts     65.0   32   98
      North Shore  70.0   70   70
      Ridgemont    89.0   89   89

                  Science
                     mean min max
Zone  School
East  Shermer        55.5  45  66
North Rushmore       70.0  70  70
South Bayside        68.0  68  68
      Rydell         90.0  90  90
West  Hogwarts       65.0  32  98
      North Shore    70.0  70  70
      Ridgemont      89.0  89  89

Extraction suivant une branche level 0 -> level 1 -> .. : tuples

In [10]:
df_result_zone_school[('Science', 'mean')]       # retour d'une s√©rie multi-index√©e
df_result_zone_school[[('Science', 'mean')]]     # idem, mais retour d'un DF

Zone   School
East   Shermer        55.5
North  Rushmore       70.0
South  Bayside        68.0
       Rydell         90.0
West   Hogwarts       65.0
       North Shore    70.0
       Ridgemont      89.0
Name: (Science, mean), dtype: float64

Extraction de deux colonnes sous un m√™me index de niveau 0

In [16]:
# df_result_zone_school[('Science', ['mean', 'min'])]    # l√†, √ßa plante ! mais il le dit^^
df_result_zone_school.loc[:, ('Science', ['mean', 'min'])]
# equiv √† df_result_zone_school.loc[:,[('Science','mean'), ('Science','min')]]

                  Science
                     mean min
Zone  School
East  Shermer        55.5  45
North Rushmore       70.0  70
South Bayside        68.0  68
      Rydell         90.0  90
West  Hogwarts       65.0  32
      North Shore    70.0  70
      Ridgemont      89.0  89

Slicing :

In [17]:
df_result_zone_school.loc[:,'Science':'Math']

                  Science           Math
                     mean min max   mean  min  max
Zone  School
East  Shermer        55.5  45  66   78.0   67   89
North Rushmore       70.0  70  70   78.0   78   78
South Bayside        68.0  68  68   76.0   76   76
      Rydell         90.0  90  90   56.0   56   56
West  Hogwarts       65.0  32  98   65.5   55   76
      North Shore    70.0  70  70   79.0   79   79
      Ridgemont      89.0  89  89  100.0  100  100

In [18]:
# on peut √™tre tent√© de faire √ßa : df_result_zone_school.loc[:,('Science','mean':'max')] mais √ßa ne marche pas :
df_result_zone_school.loc[:,('Science','mean'):('Science','max')]

                  Science
                     mean min max
Zone  School
East  Shermer        55.5  45  66
North Rushmore       70.0  70  70
South Bayside        68.0  68  68
      Rydell         90.0  90  90
West  Hogwarts       65.0  32  98
      North Shore    70.0  70  70
      Ridgemont      89.0  89  89

Et les lignes..

In [21]:
# √©quivalents :
display(df_result_zone_school.index.get_level_values(0))
display(df_result_zone_school.index.get_level_values('Zone'))
# idem
display(df_result_zone_school.index.get_level_values(1))
display(df_result_zone_school.index.get_level_values('School'))

Index(['East', 'North', 'South', 'South', 'West', 'West', 'West'], dtype='object', name='Zone')

Index(['East', 'North', 'South', 'South', 'West', 'West', 'West'], dtype='object', name='Zone')

Index(['Shermer', 'Rushmore', 'Bayside', 'Rydell', 'Hogwarts', 'North Shore',
       'Ridgemont'],
      dtype='object', name='School')

Index(['Shermer', 'Rushmore', 'Bayside', 'Rydell', 'Hogwarts', 'North Shore',
       'Ridgemont'],
      dtype='object', name='School')

Extraction :

In [30]:
display(df_result_zone_school.loc['South'])
display(df_result_zone_school.loc[['South']])
display(df_result_zone_school.loc[['South','West']])
display(df_result_zone_school.loc[('South','Bayside')])
display(df_result_zone_school.loc[[('South','Bayside')]])
display(df_result_zone_school.loc[
    [('South','Bayside'),
    ('West','Ridgemont')]
])
df_result_zone_school.loc[('West',['Hogwarts','Ridgemont']),]
df_result_zone_school.loc['North':'West']                         # slicing
df_result_zone_school.loc[
    ('South','Bayside'):('West','Hogwarts')
]
df_result_zone_school.iloc[2:5, 3:]                               # iloc puissant

        Science          Math
           mean min max  mean min max
School
Bayside    68.0  68  68  76.0  76  76
Rydell     90.0  90  90  56.0  56  56

              Science          Math
                 mean min max  mean min max
Zone  School
South Bayside    68.0  68  68  76.0  76  76
      Rydell     90.0  90  90  56.0  56  56

                  Science           Math
                     mean min max   mean  min  max
Zone  School
South Bayside        68.0  68  68   76.0   76   76
      Rydell         90.0  90  90   56.0   56   56
West  Hogwarts       65.0  32  98   65.5   55   76
      North Shore    70.0  70  70   79.0   79   79
      Ridgemont      89.0  89  89  100.0  100  100

Science  mean    68.0
         min     68.0
         max     68.0
Math     mean    76.0
         min     76.0
         max     76.0
Name: (South, Bayside), dtype: float64

              Science          Math
                 mean min max  mean min max
Zone  School
South Bayside    68.0  68  68  76.0  76  76

                Science           Math
                   mean min max   mean  min  max
Zone  School
South Bayside      68.0  68  68   76.0   76   76
West  Ridgemont    89.0  89  89  100.0  100  100

                Math
                mean min max
Zone  School
South Bayside   76.0  76  76
      Rydell    56.0  56  56
West  Hogwarts  65.5  55  76

A terminer..
Autres tutos qui ont l'air int√©ressants et compl√©mentaires :
1. https://sparkbyexamples.com/pandas/pandas-multiindex-dataframe-examples/
2. midx & plotting : https://stackoverflow.com/questions/25386870/pandas-plotting-with-multi-index

# [Le tuto officiel](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)

Il a l'air d'√™tre bien hardcore.

Mon d√©fi sera de faire du jamais vu, √† savoir plus de 2 niveaux. J'ai des tonnes d'id√©es d'applications.